input {
  height: 30px;
  width: 200px;
}

.focused {
  background: #efefef;
  border: 1px solid #999;
  box-shadow: 0 0 10px #d3d3d3;
  outline: none;
}

.block {
  width: 200px;
  height: 200px;
  background-color: #33dddd;
}
